services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    container_name: elasticsearch
    environment:
    - discovery.type=single-node
    - xpack.security.enabled=true
    - xpack.security.transport.ssl.enabled=false
    - ELASTIC_PASSWORD=changeme
    ports:
      - "9200:9200"
    networks: [elk-net]

  logstash:
    image: docker.elastic.co/logstash/logstash:9.1.5
    container_name: logstash
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on: [elasticsearch]
    ports:
      - "5044:5044"
    networks: [elk-net]

  kibana:
    image: docker.elastic.co/kibana/kibana:9.1.5
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=kibana123!
    depends_on: [elasticsearch]
    networks: [elk-net]

  grafana:
      image: grafana/grafana:latest
      container_name: grafana
      environment:
      - GF_INSTALL_PLUGINS=alexanderzobnin-zabbix-app
      depends_on:
        - elasticsearch
      ports:
        - "3000:3000"
      networks:
        elk-net:
          ipv4_address: 172.20.0.30
  
  zabbix-db:
    image: mysql:8.0
    container_name: zabbix-db
    environment:
      MYSQL_DATABASE: zabbix
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbixpwd
      MYSQL_ROOT_PASSWORD: rootpwd
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_bin
      --log_bin_trust_function_creators=1
      --sql_mode=""
    volumes:
    - zabbix-db-data:/var/lib/mysql
    networks: [elk-net]

  zabbix-server:
    image: zabbix/zabbix-server-mysql:alpine-latest
    container_name: zabbix-server
    environment:
      DB_SERVER_HOST: zabbix-db
      MYSQL_DATABASE: zabbix
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbixpwd
      MYSQL_ROOT_HOST: '%'
    depends_on: [zabbix-db]
    ports:
      - "10051:10051"
    networks:
      elk-net:
        ipv4_address: 172.20.0.10

  zabbix-web:
    image: zabbix/zabbix-web-nginx-mysql:alpine-latest
    container_name: zabbix-web
    environment:
      DB_SERVER_HOST: zabbix-db
      MYSQL_DATABASE: zabbix
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbixpwd
      ZBX_SERVER_HOST: zabbix-server
      PHP_TZ: Asia/Yekaterinburg
    depends_on: [zabbix-server]
    ports:
      - "8081:8080"
    networks: [elk-net]

  zabbix-agent-master:
    image: zabbix/zabbix-agent2:alpine-latest
    container_name: zabbix-agent-master
    environment:
      ZBX_SERVER_HOST: zabbix-server
      ZBX_SERVER_PORT: 10051
      ZBX_HOSTNAME: master-host
    volumes:
      - ./zabbix-agent-master/zabbix_agent2_user_parameters.conf:/etc/zabbix/zabbix_agent2_user_parameters.conf
    networks:
      elk-net:
        ipv4_address: 172.20.0.11
    

  zabbix-agent-zabbix:
    image: zabbix/zabbix-agent2:alpine-latest
    container_name: zabbix-agent-zabbix
    environment:
      ZBX_SERVER_HOST: zabbix-server
      ZBX_SERVER_PORT: 10051
      ZBX_HOSTNAME: "Zabbix server"
    networks:
      elk-net:
        ipv4_address: 172.20.0.12

volumes:
  zabbix-db-data:
  
networks:
  elk-net:
    name: elk-net
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/24
          gateway: 172.20.0.1