services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    container_name: elasticsearch
    environment:
    - discovery.type=single-node
    - xpack.security.enabled=true
    - xpack.security.transport.ssl.enabled=false
    - ELASTIC_PASSWORD=changeme
    ports:
      - "9200:9200"
    networks: [elk-net]

  logstash:
    image: docker.elastic.co/logstash/logstash:9.1.5
    container_name: logstash
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    depends_on: [elasticsearch]
    ports:
      - "5044:5044"
    networks: [elk-net]

  kibana:
    image: docker.elastic.co/kibana/kibana:9.1.5
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=kibana123!
    depends_on: [elasticsearch]
    networks: [elk-net]

networks:
  elk-net:
    external: true